.rightchildauthorspecific{
    width: 350px;
    margin-top: 50px;;
    padding-left: 15px;
    position: fixed;
    right: 15px;
    border-left: 1px dotted grey;
}

.maincccc{
    display: flex;
}

.leftchildauthorspecific{
    width: 850px;
    margin: 50px;
}


.kepreaduingmtc{
    transition: transform 0.5s;
}


.kepreaduingmtc:hover{
    transform: scale(0.95);
    box-shadow: 10px 10px 16px 0px rgba(0,0,0,0.81);
    -webkit-box-shadow: 10px 10px 16px 0px rgba(0,0,0,0.81);
    -moz-box-shadow: 10px 10px 16px 0px rgba(0,0,0,0.81);
}