.rightchild{
    width: 350px;
    padding-left: 15px;
    position: fixed;
    right: 15px;
    border-left: 1px dotted grey;
    margin-top: 30px;
}

.leftchild{
    width: 850px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 30px;
}

.imgup{
    width: 220px;
    height: 200px;
    object-fit: cover;
}

.rightchildupdate{
    display: flex;
    flex-direction: column;
}

#ppup{
    display: none;
}

.rmpp{
    width: 100px;
    cursor: pointer;
    padding: 5px;
    border-radius: 10px;
    background-color: red;
    color: white;
    font-size: 12px;
}

.mcsc{
    background-color: green;
    width: 140px;
    border-radius: 10px;
    color: white;
    padding: 7px;
    cursor: pointer;
    position: fixed;
    left: 740px;
    bottom: 40px;
}

.setnew{
    font-size: 14px;
    width: 100px;
    padding: 5px;
    cursor: pointer;
    background-color: #958c3a;
    border-radius: 10px;
    color: white;
    margin: 0px;
    border: 1px solid black;
}

.upaccountinfo{
    display: flex;
    flex-direction: column;
    gap: 13px;
    width: 500px;
}