.rightchild{
    width: 350px;
    padding-left: 15px;
    position: fixed;
    right: 15px;
    border-left: 1px dotted grey;
    margin-top: 50px;
}

.ri8chld1{
    display: flex;
    flex-direction: column;
    gap: 15px
}


.leftchild{
    width: 850px;
    margin: 50px;
}

.maimg{
    width: 200px;
    height: 200px;
    object-fit: cover;
}


.listyle{
    transition: transform 0.5s;
}


.listyle:hover{
    transform: scale(1.1);
    box-shadow: 10px 10px 16px 0px rgba(0,0,0,0.81);
    -webkit-box-shadow: 10px 10px 16px 0px rgba(0,0,0,0.81);
    -moz-box-shadow: 10px 10px 16px 0px rgba(0,0,0,0.81);
}

.uppwdstyle{
    transition: transform 0.5s;
}

.uppwdstyle:hover{
    transform: scale(1.1);
    box-shadow: 10px 10px 16px 0px rgba(0,0,0,0.81);
    -webkit-box-shadow: 10px 10px 16px 0px rgba(0,0,0,0.81);
    -moz-box-shadow: 10px 10px 16px 0px rgba(0,0,0,0.81);
}


.sigoutbtn{
    transition: transform 0.5s;
}


.sigoutbtn:hover{
    transform: scale(1.1);
    box-shadow: 10px 10px 16px 0px rgba(0,0,0,0.81);
    -webkit-box-shadow: 10px 10px 16px 0px rgba(0,0,0,0.81);
    -moz-box-shadow: 10px 10px 16px 0px rgba(0,0,0,0.81);
}


.delaccbtn{
    transition: transform 0.5s;
}


.delaccbtn:hover{
    transform: scale(1.1);
    box-shadow: 10px 10px 16px 0px rgba(0,0,0,0.81);
    -webkit-box-shadow: 10px 10px 16px 0px rgba(0,0,0,0.81);
    -moz-box-shadow: 10px 10px 16px 0px rgba(0,0,0,0.81);
}