/* Style for individual blogs */

.indi_blog{
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 25px;
    margin-bottom: 50px;
    width: 850px;
    /* border: 1px solid black; */
}


/* toprow */
.toprow{
    display: flex;
    align-items: center;
    justify-content: space-between
}

.toprow > p{
    color: grey;
}


/* lastrow */
.midrow > img{
    width: 100%;
    object-fit: cover;
}


/* rightchild */

.rightchild{
    position: fixed;
    right: 15px;
    border-left: 1px dotted grey;
    width: 350px;
    margin-top: 25px;
    padding-left: 15px;
    /* padding-right: 15px; */
    /* border: 1px solid black; */
}

.aboutsocialhandles{
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}

.aboutsocialhandles > a{
    text-decoration: none;
    color: black;
}




.firlet::first-letter{
    font-size: 40px;
    color: red;
}




.styleauthimg:hover{
    transform: scale(0.95);
    box-shadow: 10px 10px 16px 0px rgba(0,0,0,0.81);
    -webkit-box-shadow: 10px 10px 16px 0px rgba(0,0,0,0.81);
    -moz-box-shadow: 10px 10px 16px 0px rgba(0,0,0,0.81);
}

.icon1{
    transition: transform 0.5s;
}

.icon1:hover{
    transform: scale(0.95);
    box-shadow: 10px 10px 16px 0px rgba(0,0,0,0.81);
    -webkit-box-shadow: 10px 10px 16px 0px rgba(0,0,0,0.81);
    -moz-box-shadow: 10px 10px 16px 0px rgba(0,0,0,0.81);
}


.icon2{
    transition: transform 0.5s;
}

.icon2:hover{
    transform: scale(0.95);
    box-shadow: 10px 10px 16px 0px rgba(0,0,0,0.81);
    -webkit-box-shadow: 10px 10px 16px 0px rgba(0,0,0,0.81);
    -moz-box-shadow: 10px 10px 16px 0px rgba(0,0,0,0.81);
}


.icon3{
    transition: transform 0.5s;
}

.icon3:hover{
    transform: scale(0.95);
    box-shadow: 10px 10px 16px 0px rgba(0,0,0,0.81);
    -webkit-box-shadow: 10px 10px 16px 0px rgba(0,0,0,0.81);
    -moz-box-shadow: 10px 10px 16px 0px rgba(0,0,0,0.81);
}


.moreauthstyle{
    transition: transform(0.5s);
}

.moreauthstyle:hover{
    transform: scale(0.95);
    box-shadow: 10px 10px 16px 0px rgba(0,0,0,0.81);
    -webkit-box-shadow: 10px 10px 16px 0px rgba(0,0,0,0.81);
    -moz-box-shadow: 10px 10px 16px 0px rgba(0,0,0,0.81);
}