/* top nav bar css */

.topbarlogo{
    width: 60px;
    height:60px;
}

.topbarlinks{
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.topnavbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: sticky;
    top: 0px;
    background-color:  #958c3a;
}

.navbarpp{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
    transition: transform 0.5s;
}


.navbarpp:hover{
    transform: scale(1.1);
    box-shadow: 10px 10px 16px 0px rgba(0,0,0,0.81);
    -webkit-box-shadow: 10px 10px 16px 0px rgba(0,0,0,0.81);
    -moz-box-shadow: 10px 10px 16px 0px rgba(0,0,0,0.81);
}




.linkstyle{
    transition: transform 0.5s;
}



.linkstyle:hover{
    transform: scale(1.1);
    box-shadow: 10px 10px 16px 0px rgba(0,0,0,0.81);
    -webkit-box-shadow: 10px 10px 16px 0px rgba(0,0,0,0.81);
    -moz-box-shadow: 10px 10px 16px 0px rgba(0,0,0,0.81);
}