/* top nav bar css */

.topbarlogo{
    width: 60px;
    height:60px;
}

.topbarlinks{
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.topnavbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: sticky;
    top: 0px;
    background-color:  #958c3a;
}

.navbarpp{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}




